:root{
    --blanco:#ffffff;
    --negro:#000000;
    --primario:#FFFCEF;
    --texto:#7F7D77;
    
}


/**GLOBALES**/

html{
    font-size: 62.5%;
    
}

*, *:before, *:after { 
    box-sizing: inherit;
  }

body{
    
    font-size: 16px;/*con esos ajustes del html a 62.5% y el body a 16 px  1rem = 10 px*/
    font-family: 'Elephant', sans-serif;
    background-color:  #FFFCEF;
}

/* Estilos para el título */
.titulo {
    color: #7F7D77;
    text-align: center;
    font-family: Dancing Script;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0; /* Flex-shrink */
    margin: 0 auto; /* Centrar horizontalmente */
    padding-bottom: 20px;

    /* Elimina el width y height para que el título se ajuste automáticamente */
}

/* Estilos responsivos para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
    .titulo {
        font-size: 40px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
    }
}

/*Navegacion principal*/
.nav-background{
    background-color: var(--primario);
    border-radius: 50px;
    border: 1px solid #000;
    margin-bottom: 50px;
    

}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
        
    }
}


.navegacion-principal a{
    display:block;
    text-align: center;
    color: var(--negro) ;
    text-decoration: none;
    font-size:2.5rem;
    font-weight: bold;
    padding : 2rem;
}

.navegacion-principal a:hover{
    background-color: var(--texto);
    border-radius: 50px;
    
    
}

.Nosotros-titulo {
  color: #7F7D77;
  text-align: center;
  font-family: Elephant;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#Nosotros {
  width: 734px;
  height: 446px;
  border-radius: 95px;
  background: #FFFCEF;
  flex-shrink: 0;
  color: #000;
  font-family: Dubai;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: grid; 
  /* Otras propiedades de layout necesarias para ajustar el contenido del texto */
  border: 2px groove #7F7D77
}

@media (max-width: 768px) {
  .Nosotros-titulo {
    font-size: 30px;
  }

  #Nosotros {
    width: 85%;
    height: auto;
    border-radius: 50px;
    padding: 30px;
    font-size: 16px;
    
  }


.texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
}

 /* Estilos base para todos los tamaños de pantalla */
.contenedor-vaso {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  position: relative;
}

.vaso {
  width: 367px;
  height: 377px;
  transform: rotate(-0.495deg);
  background: url(../Imagenes/vaso.png);
  position: absolute;
  top: 60px;
  right: 100px;
}

/* Media queries para hacerlo responsive */
@media screen and (max-width: 1230px) {
  /* Estilos para pantallas con un ancho máximo de 768px */
  .contenedor-vaso {
    grid-template-columns: 100%; /* Cambiar a una sola columna */
    justify-content: center; /* Centrar el contenido en el contenedor */
    
  }
  
  .vaso {
    visibility: hidden;/*Oculta la imagen del vaso*/
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    left: 0; /* Centrar horizontalmente */
    margin: 20px auto; /* Agregar margen para espaciar del borde */
  }
}



.contenedor-ubicacion{
  width: 527px;
  height: 351px;
  flex-shrink: 0;
  border-radius: 95px;
  background: #FFFCEF;
  margin-top: 50px;
  margin-right: 200px;
  border: 2px groove #7F7D77
    
}


.contenedor-ubicacion p {
  display: flex;
  width: 326px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #000;
  font-family: Elephant;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px;
}


.contenedor-ubicacion h2 {
  width: 280px;
  height: 77px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #000;
  background: #FFFCEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centrar verticalmente */
  color: #7F7D77;
  font-family: Elephant;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-decoration-line: underline;
  margin: 0 auto; /* Centrar horizontalmente */
  cursor: pointer;
}

.u{
  width: 500px;
  height: 160px;
  display: flex;
  align-items: center;
}


@media screen and (max-width: 768px) {
  /* Estilos para pantallas con un ancho máximo de 768px */
  .contenedor-ubicacion {
    width: 100%;
    height: auto;
    margin-left: 0; /* Eliminar el margen izquierdo */
  }
  
  .contenedor-ubicacion p {
    width: 90%;
    height: auto;
  }
  
  .contenedor-ubicacion h2 {
    width: 90%;
    height: auto;
  }
  
  .u {
    width: auto;
    height: auto;
    align-items: center;
    margin-left: 33%;
}
}

.contenedor-menú {
  width: 558px;
  height: 355px;
  border-radius: 95px;
  background: #FFFCEF;
  flex-shrink: 0;
  margin-top: 50px;
  padding-bottom: 15px;
  margin-left: 57%; /* Ajusta este valor para mover el contenedor-menú a la derecha */

  border: 2px groove #7F7D77

}

.contenedor-menú p {
  display: flex;
  width: 320px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #000;
  font-family: Elephant;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 15px;
}

.contenedor-menú h2 {
  width: 280px;
  height: 77px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #000;
  background: #FFFCEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centrar verticalmente */
  color: #7F7D77;
  font-family: Elephant;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-decoration-line: underline;
  margin: 0 auto; /* Centrar horizontalmente */
  cursor: pointer;
}

.v {
  width: 500px;
  height: 160px;
  display: flex;
  align-items: center;
}

/* Media queries para hacerlo responsive */
@media screen and (max-width: 768px) {
  /* Estilos para pantallas con un ancho máximo de 768px */
  .contenedor-menú {
    width: 100%;
    height: auto;
    margin-left: 0; /* Eliminar el margen izquierdo */
    margin-bottom: 40px;
  }
  
  .contenedor-menú p {
    width: 90%;
    height: auto;
  }
  
  .contenedor-menú h2 {
    width: 90%;
    height: auto;
  }
  
  .v {
    width: auto;
    height: auto;
    margin-left: 37%;
  }
}

.contenedor {
  display: flex;
  justify-content: space-between; /* Coloca los elementos al extremo izquierdo y derecho */
  align-items: center; /* Centra verticalmente los elementos */
}

.flores{
  width: 460px;
  height: 780px;
  background: url(../Imagenes/Flores.png);
  flex-shrink: 0;
}


/* Media queries para hacerlo responsive */
@media screen and (max-width: 768px) {
  /* Estilos para pantallas con un ancho máximo de 768px */
  .flores {
    display: none; /* Ocultar la imagen de vaso */
  }
}

.contorno-contacto {
  width: 600px;
  height: 700px;
  border-radius: 95px;
  background: #FFFCEF;
  flex-shrink: 0;
  display: flex;
  flex-direction: column; /* Cambio a dirección de columna */
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  border: 2px groove #7F7D77
  
}

@media (max-width: 768px) {
  .contorno-contacto {
    width: 80%;
    max-width: 600px;
    height: auto;
    margin: 0 auto 40px auto;
    padding: 20px;
  }

}

.titulo-contacto {
  color: #7F7D77;
  text-align: center;
  font-family: Elephant;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 308px;
  height: 68px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: auto;
}

.Facebook,
.whatsapp,
.instagram {
  display: flex;
  width: 270px;
  height: 79px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: Elephant;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-decoration-line: underline;
  margin-bottom: 60px;
  margin-top: 40px;
}

.Facebook a,
.whatsapp a,
.instagram a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  margin-bottom: auto;
  border-radius: 60px;
  border: 1px solid #000;
  flex-shrink: 0;
}
  
.Facebook svg,
.whatsapp svg,
.instagram svg {
  width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 100px;
  flex-shrink: 0;
  margin: auto;
   /* Espacio entre enlace e imagen */
}

.contorno-promociones {
  max-width: 90%;
  width: 90%;
  height: auto;
  border-radius: 10%;
  background: #FFFCEF; /* Establecemos el fondo de color */
  flex-shrink: 0;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #7F7D77;
}

@media (max-width: 768px) {
  .contorno-promociones {
    border-radius: 20px;
    margin: 10px auto 40px auto;
    padding: 10px;
  }

  /* Ocultar .cafecin en pantallas pequeñas */
  .cafecin {
    display: none;
  }
}

.cafecin {
  padding-top: 30px;
  width: 520px;
  height: 600px;
  background: url(../Imagenes/cafecin.png);
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center 60px; /* Mueve la imagen 60px hacia abajo y la centra horizontalmente */
  flex-shrink: 0;
}   

.titulo-promociones{
  display: flex;
  width: 379px;
  height: 104px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #7F7D77;
  font-family: Elephant;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-left: 40%;
}

/* Ajustar .titulo-promociones para pantallas pequeñas */
@media (max-width: 768px) {
  .titulo-promociones {
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }
}



.Desayunos {
  width: 591px;
  height: 529px;
  flex-shrink: 0;
  color: #7F7D77;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  float: right;
  margin-top: auto;
  margin-left: 40px; /* Ajustamos el margen izquierdo a 40px */
  text-align: center; /* Centramos el contenido */
}

.Desayunos h2 {
  color: #7F7D77;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  float: right;
  margin-right: 40%; /* Ajustamos el margen superior según sea necesario */
  display: flex;
  text-align: center;
}

.Desayunos h3 {
  color: #7F7D77;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  clear: right;
  margin-top: 10px;
}

.Desayunos p {
  color: #7F7D77;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  text-align: center;
}

.Desayunos a {
  display: block;
  color: #7F7D77;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  float: none;
  margin-left: auto;
  margin-right: auto;
}


/* Ajustar .Desayunos para pantallas pequeñas */
@media (max-width: 768px) {
  .Desayunos {
    width: 100%;
    height: auto;
    float: none;
    margin-left: 0;
    text-align: center;
  }

  .Desayunos h2 {
    margin-right: 150px; /* Ajusta el margen derecho a "auto" para centrar */
    text-align: center; /* Centrar el título h2 */
    margin-left: 20px ;
    margin-right: 40px;
  }

  .Desayunos h3 {
    text-align: center;
  }
}



.contorno-promociones2 {
  max-width: 90%;
  width: 90%;
  height: auto;
  border-radius: 10%;
  background: #FFFCEF;
  flex-shrink: 0;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box; /* Asegura que el contorno incluya el padding */
  border: 2px solid #7F7D77;
}

.titulo-promociones2{
  display: flex;
  width: 379px;
  height: 104px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #7F7D77;
  font-family: Elephant;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-left: 40%;
  
}


.por-la-tarde {
  width: 591px;
  height: 529px;
  flex-shrink: 0;
  color: #7F7D77;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  float: right;
  margin-top: auto;
  margin-left: 40px; /* Ajustamos el margen izquierdo a 40px */
  text-align: center; /* Centramos el contenido */
  
}

.por-la-tarde h2 {
  color: #7F7D77;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  float: right;
  margin-right: 40%; /* Ajustamos el margen superior según sea necesario */
  display: flex;
  text-align: center;
}

.por-la-tarde h3 {
  color: #7F7D77;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  clear: right;
  margin-top: 10px;
}

.por-la-tarde p {
  color: #7F7D77;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  text-align: center;
}

.por-la-tarde a{
  display: block;
  color: #7F7D77;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.vino {
  padding-top: 30px;
  width: 520px;
  height: 700px;
  background: url(../Imagenes/vino.png);
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center 60px; /* Mueve la imagen 60px hacia abajo y la centra horizontalmente */
  flex-shrink: 0;
}   

@media (max-width: 768px) {
  .contorno-promociones2 {
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
  }

  /* Ocultar .vino en pantallas pequeñas */
  .vino {
    display: none;
  }

  .titulo-promociones2 {
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }

  .por-la-tarde {
    width: 100%;
    height: auto;
    float: none;
    margin-left: 0;
    text-align: center;
  }

  .por-la-tarde h2 {
    margin-right: auto; /* Ajusta el margen derecho a "auto" para centrar */
    text-align: center; /* Centrar el título h2 */
  }

  .por-la-tarde h3 {
    text-align: center;
  }

  .por-la-tarde p {
    text-align: center;
  }

  .por-la-tarde span {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}




